@import "@esri/calcite-components/dist/calcite/calcite.css";
@import "tailwindcss";

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

html,
body,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  /* scrollbar-gutter: stable; */
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #cfcfcf;
}
h3 {
  font-size: 1.25rem;
  font-weight: normal;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #cfcfcf;
}

.glass-container {
  background: rgba(30, 30, 40, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 0;
  overflow: hidden;
}

.video-container {
  position: absolute;
  inset: 50% 0 0 50%;
  translate: -50% -50%;
  width: 100%;
  border-radius: 0;
  z-index: -1;
  overflow: hidden;
}

.video-container--glass {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 40, 0.6);
  backdrop-filter: blur(22px) saturate(180%);
  border-radius: 0;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 25%
    );
    pointer-events: none;
    border-radius: 0;
  }
}
